<div class="container mt-5">
    <form action="" method="POST">

        <!-- Username Input -->
        <div class="form-group">
        <label for="username">Email</label>
        <input class="form-control" name="username" placeholder="JohnDoe@gmail.com" type="email">
        </div>

        <!-- Password Input -->
        <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" name="password" type="password">
        </div>

        <!-- Log in Button -->
        <button class="btn btn-primary">Log in</button>

    </form>
</div>